@{
    ViewBag.Title = "COMP4203 Group Project";
}

<!DOCTYPE html>
<html ng-app="app" ng-controller="indexController">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- TEST START -->
    <input type="text" ng-model="test" placeholder="Type here..." />
    <h1>The following will change as you change the input above as a test: {{test}}</h1>
    <div>
        <p class="test-class" ng-repeat="testObject in testList">{{testObject.Name}}</p>
    </div>
    <h3 ng-bind="anotherTest"></h3>
    <!-- TEST END -->
    <div ng-view class="view-wrapper">

    </div>
</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/Scripts/angularjs")

@Styles.Render("~/Content/css")
</html>